ion-card {
    border-style: groove;
    width: 150px;
    height: 150px;
}

ion-card-subtitle {
    height: 20px;
    text-align: center;
}

.sort {
    border: groove;
    margin-top: 15px;
    border-color: rgba(0, 166, 255, 0.35);
}