<ion-header>
    <ion-toolbar>
        <ion-title>Members</ion-title>
    </ion-toolbar>

    <ion-segment scrollable mode="md" (ionChange)="houseChanged($event)">

        <ion-segment-button mode="md" *ngFor="let name of names" [value]="name">

            <ion-label> {{name}} </ion-label>

        </ion-segment-button>
    </ion-segment>

</ion-header>

<ion-content>
    <ion-grid fixed>

        <div class="sort">

            <ion-item>
                <ion-label> Sort By</ion-label>
                <ion-select [interfaceOptions]="customOptions" interface="popover">
                    <ion-select-option value="peperoni">Name</ion-select-option>
                    <ion-select-option value="hawaii">Last Name</ion-select-option>
                </ion-select>
            </ion-item>

        </div>

        <ion-row>
            <ion-col size="6" *ngFor="let member of members">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>{{member.name}}</ion-card-subtitle>
                        <ion-card-title> </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button expand="full" fill="solid">
                            Info
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>