ion-img {
    height: 300px;
}

// ion-chip {
//     height: 40px;
// }
ion-thumbnail {
    height: 50px;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}