ion-img {
    height: 300px;
}

ion-thumbnail {
    height: 50px;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

ion-card {
    border-style: solid;
    border-color: darkcyan;
}

ion-label {
    color: darkcyan;
}

ion-item {
    color: darkcyan;
}

.back {
    color: darkcyan;
}