<ion-tabs>

    <ion-tab-bar slot="bottom" color="dark">

        <ion-tab-button tab="home">
            <fa-icon icon="magic"></fa-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="house1">
            <fa-icon icon="chess-rook"></fa-icon>
            <ion-label>Houses</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="house2">
            <fa-icon icon="hat-wizard"></fa-icon>
            <ion-label>Members </ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button tab="house3">
            <fa-icon icon="lightbulb"></fa-icon>
            <ion-label>Slytherin</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="house4">
            <fa-icon icon="hands-helping"></fa-icon>
            <ion-label>Hufflepuff</ion-label>
        </ion-tab-button> -->

    </ion-tab-bar>

</ion-tabs>