<ion-card>
    <ion-card-content>
        <ion-list>
            <ion-list-header> Legacy: {{house.name}} </ion-list-header>

            <ion-item>
                <fa-icon icon="seedling"></fa-icon>
                <ion-label> Founder: {{house.founder}}</ion-label>
            </ion-item>

            <ion-item>
                <fa-icon icon="hiking"></fa-icon>
                <ion-label> Leader: {{house.headOfHouse}} </ion-label>
            </ion-item>

            <ion-item>
                <fa-icon icon="ghost"></fa-icon>
                <ion-label> Ghost: {{house.houseGhost}} </ion-label>
            </ion-item>
        </ion-list>
    </ion-card-content>

</ion-card>