<ion-card>
    <ion-card-content>

        <ion-item class="ion-text-center">
            <fa-icon icon="shield-alt"></fa-icon>
        </ion-item>

        <ion-list>
            <ion-list-header> Legacy </ion-list-header>

            <ion-item>
                <ion-thumbnail slot="start">
                    <img src="assets/icon/favicon.png" />
                </ion-thumbnail>
                <ion-label> Founder: {{house.founder}}</ion-label>
            </ion-item>

            <ion-item>
                <ion-thumbnail slot="start">
                    <img src="assets/icon/favicon.png" />
                </ion-thumbnail>
                <ion-label> Leader: {{house.headOfHouse}} </ion-label>
            </ion-item>

            <ion-item>
                <ion-thumbnail slot="start">
                    <img src="assets/icon/favicon.png" />
                </ion-thumbnail>
                <ion-label> Ghost: {{house.houseGhost}} </ion-label>
            </ion-item>
        </ion-list>
    </ion-card-content>

</ion-card>