ion-card-title {
    text-align: center;
    font-size: 30px;
    --color: darkcyan;
}

ion-card-subtitle {
    --color: darkcyan;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
}